@model ConfiguringAppWithIOptions.Models.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Owner</h2>
        <ul>
            <li><strong>Account:</strong> @Model.Owner.Account</li>
            <li><strong>DisplayName:</strong> @Model.Owner.DisplayName</li>
            <li><strong>Email:</strong> @Model.Owner.Email</li>
        </ul>
    </div>
    <div class="col-md-12">
        <h2>Website</h2>
        <ul>
            <li><strong>Domain:</strong> @Model.Website.Domain</li>
        </ul>
    </div>
    <div class="col-md-12">
        <h2>ConnectionString</h2>
        <ul>
            <li><strong>DefaultConnection:</strong> @Model.ConnectionString.DefaultConnection</li>
        </ul>
    </div>
    <div class="col-md-12">
        <h2>From custom configuration source (YAML)</h2>
        <ul>
            <li><strong>Param1:</strong> @Model.YamlData.Param1</li>
            <li><strong>Param2:</strong> @Model.YamlData.Param2</li>
        </ul>
    </div>
</div>
